---
import Layout from '../layouts/Layout.astro';
import Tecnologies from '../components/Tecnologies.astro';
import { socials, technologies, projects } from '../constants/consts';
import Experience from '../components/Experience.astro';
import SocialNetworks from '../components/SocialNetworks.astro';
import Projects from '../components/Projects.astro';

const currentYear = new Date().getFullYear();
const yearIStarted = 2022;
---

<Layout title="Matias Acosta">
    <main>
        <section id="home" class="px-16  w-full mx-auto lg:px-0 lg:w-[900px] pt-44 pb-22">
            <h1 class="flex flex-row gap-x-4 items-center text-white text-4xl py-4 font-bold">
                <img class="size-16 rounded-full" src="/assets/img/recepcion.jpeg" alt="">
                I'm Matias 
            </h1>
            <h2 class="text-white text-md lg:text-xl">
                a software engineer from Argentina and passionate about web development and IT in general.
                I'm currently working at 
                <a  class="underline text-yellow-400" target="_blank" href="https://www.bancodecorrientes.com.ar/">Banco de Corrientes</a>
                as a full-stack developer.
            </h2>
            <section class="py-4">
                <SocialNetworks social={socials}/>
            </section>
        </section>
        <section id="work" class="px-16 w-full mx-auto lg:px-0 lg:w-[900px] py-32">
            <h1 class="flex flex-row items-center text-white text-4xl py-6 font-bold ">
                <img class="size-12 mr-2" src="/assets/img/stack.svg" alt="">
                Work Experience
            </h1>
            <Experience />
            <h2 class="text-white text-lg">
                Over the last {currentYear - yearIStarted}+ years I've been working with the following technologies:
            </h2>
            <Tecnologies techs={technologies}/>
        </section>
        <section id="projects" class="px-2 lg:px-0 w-full mx-auto lg:w-[900px] py-32">
            <h1 class="flex flex-row items-center text-white text-4xl py-6 font-bold ">
                <img class="size-12 mr-2" src="/assets/img/projects.svg" alt="">
                Personal Projects
            </h1>
            {
                projects.map(project => (
                    <Projects  project={project} />

                ))
            }
        </section>
        <section id="aboutme" class="px-2 w-full mx-auto lg:w-[900px] py-22">
            <h1 class="flex flex-row items-center text-white text-4xl py-6 font-bold ">
                <img class="size-12 mr-2" src="/assets/img/user.svg" alt="">
                About Me
            </h1>
            <section class="flex flex-row gap-x-4">
                <h2 class="text-md lg:text-xl text-white">
                    My name is Matias Acosta. I entered in the world of programming when I was 16 years old. Currently, I'm a 24-year-old full-stack developer at Banco de Corrientes, as I mentioned previously. <br> <br>
                    In my free time, I enjoy working on side projects to stay up-to-date and explore new ideas that come to my mind, when I'm not coding, you can find me on the field playing football!
                </h2>
                <img class="size-48 lg:size-96" src="/assets/img/recepcion.jpeg" alt="">
            </section>
        </section>
    </main>
</Layout>

<style>
</style>
