---
const exp = [
    {
        date: 'May 2022 - Aug 2024',
        title: 'Fullstack developer at Banco de Corrientes S.A',
        description: 'Developed and maintained the company’s homebanking website and internal web applications. Worked with a team of developers to create a new website and internal web applications. I\'ve been involved also in other projects such as the implementation of queue systems using RabbitMQ for internal transactions.',
        link: 'https://bancaweb.bcoctes.com.ar/Corrientes'
    },
    {
        date: 'Aug 2024 - Current',
        title: 'AI Engineer at Promtior',
        description: 'Developing AI-driven software solutions to meet business objectives and enhance product functionality',
        link: 'https://promtior.com'
    }
]

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">        
    {
        exp.map((item: {date: string, title: string, description: string, link?: string}) => (
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time  class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                    {item.date}
                </time>
                <h3 class="text-lg font-semibold text-slate-500 dark:text-white">
                    {item.title}
                </h3>
                <p class="mb-4 text-base font-normal text-gray-300 dark:text-gray-400">
                    {item.description}
                </p>
            </li>
        ))
    }          
</ol>

