<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex flex-row gap-x-10 text-white border-2 p-3 border-red-200 rounded-lg">
        <a class="visited:bg-green-700" href="#home">Home</a>
        <a class="data-[active=true]:bg-red-200" class="" href="#work">Work Experience</a>
        <a class="data-[active=true]:bg-red-200" class="" href="#projects">Projects</a>
        <a class="data-[active=true]:bg-red-200" class="" href="#contact">Contact</a>
    </nav>
</header>
