---
const { social } = Astro.props;
---
<ul class="grid grid-cols-4 gap-4 py-4">
    {
        social.map((socialnet: {name: string, icon: string, url: string}) => (
            <a href={socialnet.name !== 'Download CV' ? socialnet.url : `/assets/cv/${socialnet.url}`} target="_blank" download={socialnet.name === 'Download CV' ? socialnet.url : null}>
                <div class="bg-gradient-to-r from-slate-300 to-slate-500 p-1 border-1 rounded-3xl cursor-pointer 
                    hover:scale-105 duration-300"
                >
                    <li class="flex flex-row items-center justify-center p-2 bg-[#13151b] opacity-95 rounded-3xl border-1 duration-300 hover:opacity-85">
                        <img src={socialnet.icon} alt={socialnet.name} class="w-8 h-8" />
                        <span class="text-sm font-bold text-center text-white ml-3">{socialnet.name}</span>
                    </li>    
                </div>
            </a>
        ))
    }
</ul>