---
const { techs } = Astro.props;
---
<ul class="grid grid-cols-5 gap-4 py-4">
    {
        techs.map((tech: {name: string, icon: string}) => (
            <div class="bg-gradient-to-r from-slate-300 to-slate-500 p-1 border-1 rounded-lg 
                hover:scale-105 duration-300"
            
            >
                <li class="flex flex-row items-center justify-center p-2 bg-[#13151b] opacity-95 hover:opacity-85">
                <img src={tech.icon} alt={tech.name} class="w-6 h-6" />
                <span class="text-lg font-bold text-center text-white ml-2">{tech.name}</span>
            </li>    
            </div>
            
        ))
    }
</ul>